# All commits to the master branch require qpproval by an FMG member
# who understands what sort of changes are permitted according to FMG
# policy and can also check quality issues such as OID usage
* @grahamegrieve @lmckenzi @brianpos
