<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
{% if page.path=="extension-registry.html" or page.path=="conversion-registry.html" or page.path=="search-params.html" %}
  {% assign resourceNames = page.path | split: '.html' %}
  {% assign isExtension="Y" %}
{% else %}
  {% assign prefix11 = page.path | slice: 0, 11 %}
  {% assign prefix12 = page.path | slice: 0, 12 %}
  {% if prefix11=="extensions-" %}
    {% assign resourceNames = page.path | slice: 11, 200 | split: '.html' %}
    {% assign isExtension="Y" %}
    {% assign noTitle="Y" %}
  {% elsif prefix12=="conversions-" %}
    {% assign resourceNames = page.path | slice: 12, 200 | split: '.html' %}
    {% assign isExtension="Y" %}
    {% assign noTitle="Y" %}
  {% endif %}
{% endif %}
{% if isExtension=="Y" %}
  {% assign resourceName = resourceNames[0] %}
  {% assign moduleName=site.data.modules.resources[resourceName].module %}
  {% assign modulePath=site.data.modules.modules[moduleName].url %}
  {% assign moduleImage=site.data.modules.modules[moduleName].image %}
  {%if prefix12=="conversions-" %}
    {% assign section=site.data.modules.resources[resourceName].section2 %}
  {% else %}
    {% assign section=site.data.modules.resources[resourceName].section %}
  {% endif %}
{% endif %}

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
{% if isExtension=="Y" and site.data.fhir.path=="http://hl7.org/fhir/R5/" or site.data.fhir.path=="http://build.fhir.org/" %}
<!-- This content is identical to the header from the R5 build with the following exceptions:
     - Made all necessary hyperlinks refer to site.data.fhir.path
     - Marked visible hyperlinks as no-external if they were rooted in site.data.fhir.pth
.  If/when the CI build diverges from R5, an elsif clause will need to be added that reflects the changes -->
<head>
  <title>{{resourceName}} - FHIR v5.0.0-cibuild</title>

  
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://hl7.org/fhir"/>

  <link rel="stylesheet" href="fhir.css"/>
  <link rel="stylesheet" href="fhir-pub.css"/>
  <link rel="Prev" href="{{resourceName | downcase}}.html"/>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="assets/css/bootstrap-fhir.css"/>

    <!-- Project extras -->
  <link rel="stylesheet" href="assets/css/project-core.css"/>
  <link rel="stylesheet" href="assets/css/pygments-manni.css"/>
	<link rel="stylesheet" href="jquery-ui.css"/>

  <script type src="assets/js/fhir-table-scripts.js"></script>

    <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"/>
  <link rel="shortcut icon" href="assets/ico/favicon.png"/>

</head>
<body>
	<div id="segment-header" class="segment">  <!-- segment-header -->	
		<div class="container">    <!-- container -->
			<a no-external="true" id="logo" href="http://hl7.org/fhir"><img src="{{site.data.fhir.path}}assets/images/fhir-logo-www.png" alt="logo fhir" width="249" height="60"/> </a>
			<div id="hl7-status">
				<b>{{site.data.fhir.ig.title | escape_once}}</b> v{{site.data.fhir.ig.version}} ({{site.data.fhir.genDate | date: "%Y-%m-%d"}})
			</div>       	
			
			<div id="hl7-nav">
				 <a no-external="true" id="hl7-logo" href="http://www.hl7.org">
					<img src="{{site.data.fhir.path}}assets/images/hl7-logo.png" width="54" alt="visit the hl7 website" height="50"/>
				</a> 
			</div>       	
			<div id="hl7-nav"><a no-external="true" id="hl7-logo" href="http://build.fhir.org/search-build.html"><img src="{{site.data.fhir.path}}assets/images/search.png" alt="Search CI-Build FHIR"/></a></div> 
		</div>
		<div class="container">    <!-- container -->
	</div></div>  <!-- /segment-header -->	


	<div id="segment-navbar" class="segment">  <!-- segment-navbar -->
		<div id="stripe"> </div>
		<div class="container">  <!-- container -->
   <!-- HEADER CONTENT -->
 	      		 	      		      		
			<nav class="navbar navbar-inverse">
				<div class="container">
					<button data-target=".navbar-inverse-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					</button>
					<a href="index.html" class="navbar-brand hidden">FHIR</a>
					<div class="nav-collapse collapse navbar-inverse-collapse">
						<ul class="nav navbar-nav">
              <li><a no-external="true" href="{{site.data.fhir.path}}index.html">Home</a></li>
              <li><a no-external="true" href="{{site.data.fhir.path}}modules.html">Getting Started</a></li>
              <li><a no-external="true" href="{{site.data.fhir.path}}documentation.html">Documentation</a></li>
              <li><a no-external="true" href="{{site.data.fhir.path}}datatypes.html">Data Types</a></li>
              <li><a no-external="true" href="{{site.data.fhir.path}}resourcelist.html"><b><i>Resource Types</i></b></a></li>
              <li><a no-external="true" href="{{site.data.fhir.path}}terminologies-systems.html">Terminologies</a></li>
              <li class="dropdown">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">Artifacts<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a no-external="true" href="extension-registry.html">Extensions</a></li>
                  <li><a no-external="true" href="{{site.data.fhir.path}}operationslist.html">Operations</a></li>
                  <li><a no-external="true" href="{{site.data.fhir.path}}patterns.html">Patterns</a></li>
                  <li><a no-external="true" href="{{site.data.fhir.path}}profilelist.html">Profiles</a></li>
                  <li><a no-external="true" href="{{site.data.fhir.path}}searchparameter-registry.html">Search Parameters</a></li>
				  <li class="divider"></li>
                  <li><a no-external="true" href="http://registry.fhir.org" target="_blank">Artifact Registry <img src="external.png" alt="icon" style="vertical-align: baseline"/></a></li>
                </ul>    
              </li>
              <li><a no-external="true" href="http://fhir.org/guides/registry" target="_blank">Implementation Guides <img src="external.png" alt="icon" style="vertical-align: baseline"/></a></li>
						</ul>
					</div>  <!-- /.nav-collapse -->
				</div>  <!-- /.container -->
			</nav>  <!-- /.navbar -->
      		
  <!-- /HEADER CONTENT -->				
		</div>  <!-- /container -->
	</div>  <!-- /segment-navbar -->
	
	<div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
		<div class="container">  <!-- container -->	
			<ul class="breadcrumb">
        <li><a no-external="true" href="{{site.data.fhir.path}}{{modulePath}}"><img src="{{site.data.fhir.path}}{{moduleImage}}" alt="link"/> {{moduleName}}</a></li>
        {% if site.data.modules.resources[resourceName].inDoc=="Y" %}
          <li><a no-external="true" href="{{site.data.fhir.path}}documentation.html">Documentation Index</a></li>
        {% endif %}
        {% if site.data.modules.resources[resourceName].inDt=="Y" %}
          <li><a no-external="true" href="{{site.data.fhir.path}}datatypes.html">Datatypes</a></li>
        {% endif %}
        {% if site.data.modules.resources[resourceName].inFt=="Y" %}
          <li><a no-external="true" href="{{site.data.fhir.path}}types.html">Type Framework</a></li>
        {% endif %}
        {% if prefix11=="extensions-" %}
          <li><a no-external="true" href="{{site.data.fhir.path}}{{resourceName | downcase}}.html">
            {%if site.data.modules.resource[resourceName].tab %}
              {{site.data.modules.resource[resourceName].tab}}
            {% else %}
              {{resourceName}}
            {% endif %}
          </a></li>
          <li><b>Extensions</b></li>
        {% elsif prefix12=="conversions-" %}
          {%if resourceName=="Extension" %}
            <li><a no-external="true" href="{{site.data.fhir.path}}extensibility.html">Extensibility</a></li>
          {% else %}
            <li><a no-external="true" href="{{site.data.fhir.path}}{{resourceName | downcase}}.html">
            {%if site.data.modules.resource[resourceName].tab %}
              {{site.data.modules.resource[resourceName].tab}}
            {% else %}
              {{resourceName}}
            {% endif %}
            </a></li>
          {% endif %}
          <li><b>Conversions</b></li>
        {% else %}
          <li><b>{{resourceName}}</b></a></li>
        {% endif %}
			</ul>	
		</div>  <!-- /container -->
	</div>  <!-- /segment-breadcrumb -->
	

	<div id="segment-content" class="segment">  <!-- segment-content -->
	  <div class="container">  <!-- container -->
      <div class="row">
        <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-12">
{% else %}
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <title>{{site.data.fhir.igId | upcase}}\{{site.data.pages[page.path].title | escape_once}} - FHIR v{{site.data.fhir.version}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="http://hl7.org/fhir"/>

    <link href="{{site.data.info.assets}}fhir.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="{{site.data.info.assets}}assets/css/bootstrap-fhir.css" rel="stylesheet"/>

    <!-- Project extras -->
    <link href="{{site.data.info.assets}}assets/css/project.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/pygments-manni.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/jquery-ui.css" rel="stylesheet"/>
  	<link href="{{site.data.info.assets}}assets/css/prism.css" rel="stylesheet" />
    {% include fragment-css.html %}

    <script type="text/javascript" src="fhir-table-scripts.js"> </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="{{site.data.info.assets}}assets/ico/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="{{site.data.info.assets}}assets/ico/favicon.png"/>
  </head>
  <body onload="document.body.style.opacity='1'">
{% assign label = {{site.data.pages[page.path].label}} | split: '.0' %}
	  <script src="{{site.data.info.assets}}assets/js/prism.js"></script>

    <style type="text/css">h2{--heading-prefix:"{{site.data.info.headingOffset}}{{label}}"}
    h3,h4,h5,h6{--heading-prefix:"{{site.data.info.headingOffset}}{{site.data.pages[page.path].label}}"}</style>
    <div id="segment-header" class="segment">  <!-- segment-header -->
      <div class="container">  <!-- container -->
        {% include fragment-header.html %}
{% if site.data.info.releaselabel != '' %}
{% assign status = site.data.info.releaselabel %}
{% else %}
{% assign status = site.data.fhir.ig.status %}
{% endif %}
        <div id="ig-status">
          <p><span style="font-size:12pt;font-weight:bold">{{site.data.fhir.ig.title | escape_once}}</span>
            <br/>
            <span style="display:inline-block;">{{site.data.fhir.ig.version}} - {{status}}
{% assign igId = site.data.fhir.ig.id | prepend: "ImplementationGuide/" %}
{% for jurisdiction in site.data.resources[igId].jurisdictions %}
{% if jurisdiction.flag %}
  <img alt="{{jurisdiction.name}} flag" src="assets/images/{{jurisdiction.flag}}.svg" height="16" title="{{jurisdiction.name}}"/>
{% elsif jurisdiction.code %}
  <span title="{{jurisdiction.name}}">{{jurisdiction.code}}</span>
{% else %}
  {{jurisdiction.name}}
{% endif %}
{% endfor %}
            </span>
          </p>
        </div>
      </div> <!-- /container -->
    </div>  <!-- /segment-header -->

    <div id="segment-navbar" class="segment">  <!-- segment-navbar -->
      <div id="stripe"> </div>
      <div class="container">  <!-- container -->
        <!-- HEADER CONTENT -->

        <nav class="navbar navbar-inverse">
          <!--status-bar-->
          <div class="container">
            <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
              <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand hidden" href="{{site.data.fhir.path}}index.html">FHIR</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
              {% include menu.xml %}
            </div>  <!-- /.nav-collapse -->
          </div>  <!-- /.container -->
        </nav>  <!-- /.navbar -->
      <!-- /HEADER CONTENT -->
      </div>  <!-- /container -->
    </div>  <!-- /segment-navbar -->
    <!--status-bar-->
{% assign shownav = site.data.info.shownav | downcase | slice: 0 %}
    <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
      <div class="container">  <!-- container -->
        <ul class="breadcrumb">
          {{site.data.pages[page.path].breadcrumb}}
{% if shownav == 'y' %}
          <span style="float:right;">
{% if site.data.pages[page.path].previous %}
            <a href="{{site.data.pages[page.path].previous}}">&lt;prev</a> | 
{% endif %}
            <a href="#bottom">bottom</a>
{% if site.data.pages[page.path].next %}
          | <a href="{{site.data.pages[page.path].next}}">next&gt;</a>
{% endif %}
          </span>
{% endif %}
        </ul>
      </div>  <!-- /container -->
    </div>  <!-- /segment-breadcrumb -->

    <a name="top"> </a>
    <div id="segment-content" class="segment">  <!-- segment-content -->
      <div class="container">  <!-- container -->
        <div class="row">
          <div class="inner-wrapper">
{% endif %}
