{% assign wg=site.data.resourcewgs.resource[resourceName] %}
{% unless wg %}
  {% assign wg="fhir" %}
{% endunless %}

<ul class="nav nav-tabs">
  {% if resourceName=="Extension" or resourceName=="extension-registry" %}
Foo
    <li><a href="{{site.data.fhir.path}}extensibility.html">Extensibility</a></li>
    <li><a href="{{site.data.fhir.path}}defining-extensions.html">Defining Extensions</a></li>
    <li><a href="{{site.data.fhir.path}}extensibility-examples.html">Examples</a></li>
    <li><a href="{{site.data.fhir.path}}extensibility-definitions.html">Detailed Descriptions</a></li>
    {% if resourceName="extension-registry" %}
      <li class="active"><a href="#">Registry</a></li>
    {% else %}
      <li><a href="extension-registry.html">Registry</a></li>
    {% endif %}
    {% if resourceName="Extension" %}
      <li class="active"><a href="#">R4 Conversions</a></li>    
    {% else %}
      <li><a href="conversions-Extension.html">R4 Conversions</a></li>    
    {% endif %}
  {% else %}
    <li><a href="{{ site.data.fhir.path }}{{ltype}}.html">
      {% if site.data.modules.resources[resourceName].tab %}
        {{site.data.modules.resources[resourceName].tab}}
      {% else %}
        Content
      {% endif %}
    </a></li>
    {% if site.data.modules.resources[resourceName].noEx!="Y" %}
      <li><a href="{{ site.data.fhir.path }}{{ltype}}-examples.html">Examples</a></li>
    {% endif %}
    <li><a href="{{ site.data.fhir.path }}{{ltype}}-definitions.html">Detailed Descriptions</a></li>
    {% if site.data.modules.resources[resourceName].noMap!="Y" %}
      <li><a href="{{ site.data.fhir.path }}{{ltype}}-mappings.html">Mappings</a></li>
    {% endif %}
    {% if site.data.modules.resources[resourceName].isDt!="Y" %}
      <li><a href="{{ site.data.fhir.path }}{{ltype}}-operations.html">Operations</a></li>
      <li><a href="{{ site.data.fhir.path }}{{ltype}}-search.html">Search Params</a></li>
    {% endif %}
    <li><a href="{{ site.data.fhir.path }}{{ltype}}-profiles.html">Profiles</a></li>
    {% if prefix11=="extensions-" %}
      <li class="active"><a href="#">Extensions</a></li>
    {% else %}
      <li><a href="extensions-{{type}}.html">Extensions</a></li>
    {% endif %}
    {% if site.data.modules.resources[resourceName].noConv!="Y" %}
      {% if prefix12=="conversions-" %}
        <li class="active"><a href="#">R4 Conversions</a></li>
      {% else %}
        <li><a href="conversions-{{type}}.html">R4 Conversions</a></li>
      {% endif %}
    {% endif %}
  {% endif %}
</ul>

<h2 class="self-link-parent"><span class="sectioncount">{{section}}<a name="{{section}}"> </a></span>
{% if prefix11=="extensions-" %}
  {% if site.data.modules.resources[resourceName].tab %}
    {{site.data.modules.resources[resourceName].tab}}
  {% else %}
    Resource {{resourceName}}
  {% endif %}
 - Extensions <a href="extensions-{{resourceName}}.html#{{section}}" title="link to here" class="self-link">
{% elsif prefix12=="conversions-" %}
  {% if site.data.modules.resources[resourceName].tab %}
    {{site.data.modules.resources[resourceName].tab}}
  {% else %}
    Resource {{resourceName}}
  {% endif %}
 - Conversions <a href="conversions-{{resourceName}}.html#{{section}}" title="link to here" class="self-link">
{% elsif resourceName=="extension-registry" %}
FHIR Core-defined Extension Registry <a href="{{resourceName}}.html#{{section}}" title="link to here" class="self-link">
{% elsif resourceName=="conversion-registry" %}
FHIR R4/R5 Conversions Registry <a href="{{resourceName}}.html#{{section}}" title="link to here" class="self-link">
{% elsif resourceName=="search-params" %}
FHIR Core-defined Extension Search Parameter Registry <a href="{{resourceName}}.html#{{section}}" title="link to here" class="self-link">
{% endif %}
<svg viewBox="0 0 1792 1792" width="20" class="self-link" height="20"><path d="M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z" fill="navy"></path></svg></a></h2>
<table class="colsi"><tr><td><a href="{{site.data.resourcewgs.workgroups[wg].url}}">{{site.data.resourcewgs.workgroups[wg].name}} <img src="external.png" style="vertical-align: baseline"/></a> Work Group</td><td><a href="{{ site.data.fhir.path }}versions.html#maturity">Maturity Level</a>: N/A</td><td id="ballot"><a href="{{ site.data.fhir.path }}versions.html#std-process">Standards Status</a>: Informative</td><td><a href="{{ site.data.fhir.path }}security.html#SecPrivConsiderations">Security Category</a>: N/A</td>  <!-- !ns! --><td><a href="{{ site.data.fhir.path }}compartmentdefinition.html">Compartments</a>: N/A</td></tr></table>
